/**
 * convent opsitive map pairs into negative map pairs
 * input: {
     '1': '0.25rem',
     '2': '0.5rem'
   }
 * output: {
     '-1': '-0.25rem'
     '-2': '-0.5rem'
   }
 */
negative-map($map) {
  $hash = {}
  for $key, $val in $map {
    $negative-key = '-' + $key
    $negative-val = 0 - $val
    $hash[$negative-key] = $negative-val
  }
  return $hash
}
