/**
 * [Utility First Class (Stylus Version)]
 * Author: xiaoluoboding
 * Code for fun!
 */

// generate basic class
p('------ Generator Begin Work ------')

$import()
$cardinality = toFixed(100 / (length($screens) + 1))
p('------ Progress ' + $cardinality + '% ------')

// loop the responsive variant
for $size, $width in $screens {
  $sizes = keys($screens)
  $index = index($sizes, $size)
  @media (min-width: unquote($width)) {
    $import($size)
  }
  p('------ Progress ' + $cardinality * ($index + 2) + '% ------')
}

p('------ Generate ' + length($preset) + ' Properties Done! ------')
