/**
 * [Utility First Class (Stylus Version)]
 * Function: Utility class generator like tailwindcss but in pure stylus.
 * Author: xiaoluoboding
 * Code for fun!
 */
class-generator($property, $size = null) {
  // find the right property configuration
  $themePairs = $theme[$property]
  $presetPairs = $preset[$property]
  $variantList = $variants[$property]

  // loop theme pairs
  loop-themes($variant = null) {
    // p($variant)
    for key, value in $themePairs {
      // unquote theme pairs
      $modifier = key
      $value = conventValue(value)

      // unquote perset pairs
      $prefix = unquote($presetPairs[0])
      $property = unquote($presetPairs[1])

      getSelector(prefix, modifier, variant) {
        $positiveSelector = join('-', prefix, modifier)

        if (variant is not null) {
          {variant + "\:" + $positiveSelector + ":" + variant}
        } else {
          $positiveSelector
        }
      }
      
      $selector = getSelector($prefix, $modifier, $variant)

      getVariantSelector() {
        if ($size is not null) {
          {$size + "\:" + $selector}
        } else {
          $selector
        }
      }

      $classSelector = getVariantSelector()

      .{$classSelector} {
        {$property} $value
      }
    }
  }

  loop-themes()

  loop-variants() {
    for variant in $variantList {
      if (variant is not 'responsive') {
        loop-themes(variant)
      }
    }
  }

  loop-variants()
}
