/**
 * [Utility First Class (Stylus Version)]
 * Function: Utility class generator like tailwindcss but in pure stylus.
 * Author: xiaoluoboding
 * Code for fun!
 */
class-generator($themePairs, $variantList, $size = null, $prefix, $property) {
  // loop theme pairs
  loop-themes($variant = null) {
    // p($variant)
    for key, value in $themePairs {
      // unquote theme pairs
      $modifier = replace('\/', '\/', key)
      $value = conventValue(value)

      getSelector(prefix, modifier, variant) {
        positive-negative(prefix, modifier) {
          if (match('^-', modifier)) {
            // negative selector
            '-' + prefix + modifier
          } else {
            // positive selector
            join('-', prefix, modifier)
          }
        }
        $positiveSelector = (prefix == none) ? modifier : (modifier == default) ? prefix : positive-negative(prefix, modifier)

        if (variant is not null) {
          {variant + "\:" + $positiveSelector + ":" + variant}
        } else {
          $positiveSelector
        }
      }
      
      $selector = getSelector($prefix, $modifier, $variant)

      $classSelector = $size is not null ? join('\:', $size, $selector) : $selector

      .{$classSelector} {
        {$property} $value
      }
    }
  }

  loop-themes()

  loop-variants() {
    for $variant in $variantList {
      if ($variant is not 'responsive') {
        loop-themes($variant)
      }
    }
  }

  loop-variants()
}
