@import import;

@import config;

@import generator;

// @import components; // pass

// @import utilities;

// generate basic class
$import()
p(length($preset))

// loop the responsive variant
for $size, $width in $screens {
  @media (min-width: $width) {
    $import($size)
  }
}