///
/// get the right selector
/// @author {xiaoluoboding}
/// @param {string} $prefix
/// @param {string} $modifier
/// @param {string} $variant
/// @param {string} $size
/// @return {string}  - right selector
///
@function get-selector($prefix, $modifier, $variant, $size) {
  // replace modifier, turn 1/2 into 1\/2
  $replacedModifier: str-replace($modifier, '\/', '\\\/');
  // get positive or negative class
  $baseClass: if(
    str-begin-with($replacedModifier, '-'),
    str-join($prefix, '-', $replacedModifier),
    str-join('-', $prefix, $replacedModifier)
  );

  $rightModifier: if(
    $modifier == 'default',
    $prefix,
    $baseClass
  );

  $rightPrefix: if(
    $prefix == 'none',
    $modifier,
    $rightModifier
  );

  $rightVariant: if(
    $variant == null,
    $rightPrefix,
    $variant+'\\:'+$rightPrefix+':'+$variant
  );

  $selector: if(
    $size == null,
    $rightVariant,
    str-join('\\:', $size, $rightVariant)
  );

  @return $selector;
}

/// 
/// loop theme pairs
/// 
@mixin loop-themes($themePairs, $size, $prefix, $property, $variant) {

  @each $modifier, $value in $themePairs {
    // get the right selector
    $selector: get-selector($prefix, $modifier, $variant, $size);

    @debug $selector;
  
    .#{$selector} {
      @if (type-of($property) == 'map') {
        // generate multiple line properties class
        @each $prop in map-keys($property) {
          #{$prop}: #{$value}
        }
      } @else {
        #{$property}: #{$value}
      }
    }
  }

}
/// 
/// loop placeholder
/// 
@mixin loop-placeholder($themePairs, $size, $prefix, $property, $variant) {
  $pseudoList: (':-ms-input-placeholder', '::-ms-input-placeholder', '::placeholder');

  @each $modifier, $value in $themePairs {
    // seems like "placeholder-gray-color"
    $basicSelector: str-join('-', $prefix, $modifier);
    // seems like "sm\:placeholder-gray-color"
    $responsiveSelector: str-join('\:', $size, $basicSelector);

    $selector: if(
      $size == null,
      $basicSelector,
      $responsiveSelector
    );

    // seems like "focus\:placeholder-gray-color:focus"
    $class: if(
      $variant == null,
      $selector,
      ($variant + "\:" + $selector + ":" + $variant)
    );

    @debug $class;
  
    // generate multiple line properties class
    @each $pseudo in $pseudoList {
      .#{$class}#{$pseudo} {
        #{$property}: #{$value}
      }
    }
  }

}

/// 
/// loop variants
/// 
@mixin loop-variants($themePairs, $variantList, $size, $prefix, $property) {

  @each $variant in $variantList {
    @if ($variant != 'responsive') {
      @if (str-index($prefix, 'placeholder') == null) {
        @include loop-themes($themePairs, $size, $prefix, $property, $variant);
      } @else {
        @include loop-placeholder($themePairs, $size, $prefix, $property, $variant);
      }
    }
  }

}


@mixin class-generator($themePairs, $variantList, $size, $prefix, $property) {

  @if (str-index($prefix, 'placeholder') == null) {
    @include loop-themes($themePairs, $size, $prefix, $property, null);
  } @else {
    @include loop-placeholder($themePairs, $size, $prefix, $property, null);
  }

  @include loop-variants($themePairs, $variantList, $size, $prefix, $property);

}
