/**
 * [Utility First Class (Less Version)]
 * module: justify-content
 * Author: xiaoluoboding
 * Create At: 2020-04-01
 */
.justify-start {
  justify-content: flex-start
}

.justify-end {
  justify-content: flex-end
}

.justify-center {
  justify-content: center
}

.justify-between {
  justify-content: space-between
}

.justify-around {
  justify-content: space-around
}

.justify-evenly {
  justify-content: space-evenly
}
