/**
 * [Utility First Class (Less Version)]
 * Property: margin
 * Author: xiaoluoboding
 * Code for fun!
 */

.margin(@modifier, @value) {
  // m-*
  .m-@{modifier} {
    margin: @value;
  }
  // mx-*
  .mx-@{modifier} {
    margin-left: @value;
    margin-right: @value;
  }
  // my-*
  .my-@{modifier} {
    margin-top: @value;
    margin-bottom: @value;
  }
  // mt-*
  .mt-@{modifier} {
    margin-top: @value;
  }
  // mr-*
  .mr-@{modifier} {
    margin-right: @value;
  }
  // mb-*
  .mb-@{modifier} {
    margin-bottom: @value;
  }
  // ml-*
  .ml-@{modifier} {
    margin-left: @value;
  }
}

.negativeMargin(@modifier, @value) {
  @negativeValue: 0 - @value;
  // -m-*
  .-m-@{modifier} {
    margin: @negativeValue;
  }
  // -mx-*
  .-mx-@{modifier} {
    margin-left: @negativeValue;
    margin-right: @negativeValue;
  }
  // -my-*
  .-my-@{modifier} {
    margin-top: @negativeValue;
    margin-bottom: @negativeValue;
  }
  // -mt-*
  .-mt-@{modifier} {
    margin-top: @negativeValue;
  }
  // -mr-*
  .-mr-@{modifier} {
    margin-right: @negativeValue;
  }
  // -mb-*
  .-mb-@{modifier} {
    margin-bottom: @negativeValue;
  }
  // -ml-*
  .-ml-@{modifier} {
    margin-left: @negativeValue;
  }
}

.generateMargin(@array, @i: 1) when (@i =< length(@array)) {
  @pair: extract(@array, @i);
  @key: extract(@pair, 1);
  @value: extract(@pair, 2);

  @modifier: e(@key);

  .margin(@modifier, @value);

  .negativeMargin(@modifier, @value);
  
  .generateMargin(@array, (@i + 1));
}

.margin(auto, auto);
.generateMargin(@space);


