/**
 * [Utility First Class (Less Version)]
 * modifier: padding
 * Author: xiaoluoboding
 * Code for fun!
 */

.padding(@modifier, @value) {
  // p-*
  .p-@{modifier} {
    padding: @value;
  }
  // px-*
  .px-@{modifier} {
    padding-left: @value;
    padding-right: @value;
  }
  // py-*
  .py-@{modifier} {
    padding-top: @value;
    padding-bottom: @value;
  }
  // pt-*
  .pt-@{modifier} {
    padding-top: @value;
  }
  // pr-*
  .pr-@{modifier} {
    padding-right: @value;
  }
  // pb-*
  .pb-@{modifier} {
    padding-bottom: @value;
  }
  // mp-*
  .pl-@{modifier} {
    padding-left: @value;
  }
}

.generatePadding(@array, @i: 1) when (@i =< length(@array)) {
  @pair: extract(@array, @i);
  @key: extract(@pair, 1);
  @value: extract(@pair, 2);

  @modifier: e(@key);

  .padding(@modifier, @value);

  .generatePadding(@array, (@i + 1));
}

.generatePadding(@space);
