/**
 * [Utility First Class (Less Version)]
 * Property: position
 * Author: xiaoluoboding
 * Code for fun!
 */
.static {
  position: static;
}

.fixed {
  position: fixed;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.sticky {
  position: sticky;
}
